
@{
    ViewBag.Title = "Blog";
}

<h2>Index</h2>
<div class="container">
    <div class="row">
        @foreach (var article in ViewBag.Articles)
        {
            <div class="col">
                <div class="Card">
                    <h2>@article.Title</h2>
                    <div>@article.Content</div>
                </div>
            </div>
        }
    </div>
</div>

